<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenditure</title>
    <link rel="stylesheet" href="/style/expenditure.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <nav>
      <div class="hamburger" id="hamburger">&#9776;</div>
      <div class="logo">
        <img src="/images/logo.jpg" height="50px" alt="" />
        <span>BizManager</span>
      </div>
      <div class="heading">Expenditure Management</div>
      <div class="bell">
        <img src="/images/Notification.png" alt="" />
        <span><%=user.name%></span>
        <span>(<%=user.role%>)</span>
      </div>
    </nav>
    <main>
        <div class="sidebar">
        <div>
          <a href="/dashboard" class="sidebar-item">
            <img src="/images/Dasboard.png" height="30px" alt="" />
            <span>Dashboard</span>
          </a>
        </div>
        <div>
          <a href="/inventory" class="sidebar-item">
            <img src="/images/Inventory.png" height="30px" alt="" />
            <span>Inventory</span>
          </a>
        </div>
        <div>
          <a href="/expenditure" class="sidebar-item">
            <img src="/images/Expen.png" height="30px" alt="" />
            <span>Expenditure</span>
          </a>
        </div>
        <div>
          <a href="" class="sidebar-item">
            <img src="/images/Instal.png" height="30px" alt="" />
            <span>Installation</span>
          </a>
        </div>
        <div>
          <a href="" class="sidebar-item">
            <img src="/images/Labour.png" height="30px" alt="" />
            <span>Labour & Wages</span>
          </a>
        </div>
        <div class="sidebar-item2">
          <div class="account">ACCOUNT</div>
          <div>
            <a href="" class="sidebar-item">
              <img src="/images/settings.png" height="30px" alt="" />
              <span>Settings</span>
            </a>
          </div>
          <div>
            <a href="/logout" class="sidebar-item">
              <img src="/images/logout.png" height="30px" alt="" />
              <span>Sign out</span>
            </a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="heading1">
          <div class="forMobile">
            <div class="h1">Expenditure Management</div>
            <div class="overview">
              Track and manage business expenses
            </div>
          </div>
          <div class="buttonMobile">
            <button class="add-product" id="addProduct">
              <span>+</span>
              <span>Add Expenditure</span>
            </button>
          </div>
        </div>
        <div class="modal-overlay" id="modalOverlay1">
          <div class="modal">
            <div class="form-heading">
              <img src="/images/receipt.png" height="30px" alt="" />
              <h2>Add Expenditure</h2>
            </div>

            <form action="/add-expenditure" method="post" id="addProductForm">
              <label for="">Amount*</label>
              <input
                name="amount"
                type="number"
                class="input"
                id="amount"
                placeholder="Enter amount"
                required
              />
              <label for="">Date*</label>
              <input type="datetime-local" name="lastUpdate" class="input" id="date">
              <label for="">Category*</label>
              <select name="category" class="input" id="categoryInput" required>
                <option value="">-- category --</option>
                <option value="Fooding">Fooding</option>
                <option value="Home expenses">Home expenses</option>
                <option value="Desiel">Desiel</option>
              </select>
              <label for="">Resposible Person*</label>
              <input name="ResPerson" type="text" class="input" id="personName" required>
              <label for="">Description</label>
              <input type="text" name="description" id="description" class="input" >
              <div class="form-buttons">
                <button
                  type="button"
                  class="form-cancel-button"
                  id="cancelButton-product"
                >
                  Cancel
                </button>
                <button type="submit" id="sub" class="form-submit-button">
                  Add Expenses
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="showExpenses">
            <div class="imageBox">
                <span>
                    <img src="/images/calender1.png" alt="">
                </span>
                <span>
                    <div class="boxheading">Today's Expenses</div>
                    <div class="today"><%=todayTotal%></div>
                </span>
            </div>
            <div class="imageBox">
                <span>
                    <img src="/images/calendar2.png" alt="">
                </span>
                <span>
                    <div class="boxheading">Weekly Expenses</div>
                    <div class="today"><%=weekTotal%></div>
                </span>
            </div>
            <div class="imageBox">
                <span>
                    <img src="/images/calendar3.png" alt="">
                </span>
                <span>
                    <div class="boxheading">Yearly Expenses</div>
                    <div class="today"><%=yearTotal%></div>
                </span>
            </div>
        </div>

        <div style="height: 640px; margin: 25px 0; overflow: hidden; ">

           <div class="table-container">
            <table class="table-content">
              <thead>
               <tr>
              <th>SR No.</th>
              <th>DATE</th>
              <th>DESCRIPTION</th>
              <th>AMOUNT</th>
              <th>RESPONSIBLE PERSON</th>
              <th>CATEGORY</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody>

             <% expenses.forEach((expense,index) =>{%>
            <tr>
              <td><%=index+1%>.</td>
              <td><%=expense.lastUpdate%></td>
              <td><%=expense.description%></td>
              <td><%=expense.amount%></td>
              <td><%=expense.ResPerson%></td>
              <td><%=expense.category%></td>
              <td >
                 <form action="/deleteExpense/<%=expense._id%>" method="post" onsubmit="return confirm('Are you sure! You want to delete <%=expense.amount%>?');">
                  <button type="submit" class="delete-row">
                  <img src="/images/delete.png" alt="Delete" />
                </button>
                </form>
              </td>
            </tr>
             <% }) %>


          </tbody>
        </table>
        </div>

        </div>

       


      </div>
    </main>
    <script src="/javascript/expenditure.js"></script>
</body>
</html>