<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teams & Workers</title>
    <link rel="stylesheet" href="/style/teams.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="hamburger" id="hamburger">&#9776;</div>
      <div class="logo">
        <img src="/images/logo.jpg" height="50px" alt="" />
        <span>BizManager</span>
      </div>
      <div class="heading">Teams & Workers</div>
      <div class="bell">
        <img src="/images/Notification.png" alt="" />
        <span><%=user.name%></span>
        <span>(<%=user.role%>)</span>
      </div>
    </nav>
    <main>
      <div class="sidebar">
        <div>
          <a href="/dashboard" class="sidebar-item">
            <img src="/images/Dasboard.png" height="30px" alt="" />
            <span>Dashboard</span>
          </a>
        </div>
        <div>
          <a href="/inventory" class="sidebar-item">
            <img src="/images/Inventory.png" height="30px" alt="" />
            <span>Inventory</span>
          </a>
        </div>
        <div>
          <a href="/expenditure" class="sidebar-item">
            <img src="/images/Expen.png" height="30px" alt="" />
            <span>Expenditure</span>
          </a>
        </div>
        <div>
          <a href="" class="sidebar-item">
            <img src="/images/Instal.png" height="30px" alt="" />
            <span>Installation</span>
          </a>
        </div>
        <div>
          <a href="/labour" class="sidebar-item">
            <img src="/images/Labour.png" height="30px" alt="" />
            <span>Labour & Wages</span>
          </a>
        </div>
        <div class="sidebar-item2">
          <div class="account">ACCOUNT</div>
          <div>
            <a href="" class="sidebar-item">
              <img src="/images/settings.png" height="30px" alt="" />
              <span>Settings</span>
            </a>
          </div>
          <div>
            <a href="/logout" class="sidebar-item">
              <img src="/images/logout.png" height="30px" alt="" />
              <span>Sign out</span>
            </a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="heading1">
          <div class="mb">
            <div class="h1">Active Teams</div>
            <div class="overview">Curently you have these active teams</div>
          </div>

          <div class="buttonMobile">
            <button class="add-product" id="addProduct">
              <span>+</span>
              <span>Add Teams</span>
            </button>
          </div>
        </div>

        <!-- modalOverlay1 -->

        <div class="modal-overlay" id="modalOverlay1">
          <div class="modal">
            <div class="form-heading">
              <img src="/images/receipt.png" height="30px" alt="" />
              <h2>Add Team</h2>
            </div>

            <form action="/add-team" method="post" id="addProductForm">
              <label for="">Team Name*</label>
              <input
                name="teamName"
                type="text"
                class="input"
                placeholder="Enter team name"
                required
              />

              <label for="">Total Installation*</label>
              <input
                name="totalInstallation"
                type="number"
                class="input"
                required
              />
              <label for="">Total Paid</label>
              <input type="number" name="amount" class="input" />

              <label for="">Balance</label>
              <input type="number" name="balance" class="input" />

              <div class="form-buttons">
                <button
                  type="button"
                  class="form-cancel-button"
                  id="cancelButton-product"
                >
                  Cancel
                </button>
                <button type="submit" id="sub" class="form-submit-button">
                  Add Team
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="showExpenses">
          <% teams.forEach((team,index) =>{%>
          <div class="imageBox">
            <form
              action="/deleteteam/<%=team._id%>"
              method="post"
              onsubmit="return confirm('Are you sure! You want to delete <%=team.teamName%>?');"
            >
              <button type="submit" class="delete-team">Delete Team</button>
            </form>

            <a href="">
              <div class="image" id="image"></div>
              <h2><%=team.teamName%></h2>
              <div class="detail">
                <span class="installation">
                  <div class="boxheading">Total Installation</div>
                  <div class="today"><%=team.totalInstallation%></div>
                </span>
                <span class="installation">
                  <div class="boxheading">Paid</div>
                  <div class="today"><%=team.amount%></div>
                  <p>+<%=team.balance%></p>
                </span>
              </div>
            </a>
            <div class="cardsbuttons">
              <button
                class="bt1"
                id="bt1"
                data-id="<%=team._id%>"
                data-team-name="<%=team.teamName%>"
              >
                Add Inst.
              </button>
              <button
                class="bt2"
                id="bt2"
                data-id="<%=team._id%>"
                data-team-name="<%=team.teamName%>"
              >
                Add Payment
              </button>
            </div>
            <div class="history"> 
              
                <span class="paymentHist">
                  <a  href="/installation-history/<%=team.teamName%>">
                  Installation History</a>
                </span>
                <span class="paymentHist">
                  <a  href="/payment-history/<%=team.teamName%>">
                  Payment History</a>
                </span>
              
            </div>
          </div>
          <% }) %>
        </div>

        <!-- add payment modeloverlay -->

        <div class="modal-overlay" id="modalOverlay">
          <div class="modal">
            <div class="form-heading">
              <img src="/images/add-stock.png" height="30px" alt="" />
              <h2>Add Payment</h2>
            </div>
            <div class="current-stock">
              <div>
                
              </div>
              <div id="productName"></div>
            </div>

            <form action="/add-payment" method="post" id="myForm">
              <input
                name="teamName"
                id="teamName"
                type="hidden"
                class="input"
              />

              <input
                name="teamIdPay"
                id="teamIdPay"
                type="hidden"
                class="input"
              />

              <label for="">Amount*</label>
              <input
                name="addPayment"
                id="addPayment"
                type="number"
                class="input"
                placeholder="Enter amount"
                required
              />

               <label for="">Date*</label>
              <input
                name="dateP"
                id="dateP"
                type="date"
                class="input"
                placeholder="Enter date"
                required
              />

              <label for="">Reference</label>
              <input
                name="reference"
                id="reference"
                type="text"
                class="input"
                placeholder="Type any message..."
              />

              <div class="form-buttons">
                <button
                  type="button"
                  class="form-cancel-button"
                  id="cancelButton"
                >
                  Cancel
                </button>
                <button type="submit" id="sub" class="form-submit-button">
                  Add Payment
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- Model for add installtion -->
        <div class="modal-overlay" id="modalOverlay2">
          <div class="modal">
            <div class="form-heading">
              <img src="/images/add-stock.png" height="30px" alt="" />
              <h2>Add Installation</h2>
            </div>
            <div class="current-stock">
                <div id="productName"></div>
            </div>

            <form
              action="/add-installation"
              method="post"
              id="addinstallationform"
            >
              <input
                name="teamName"
                id="teamNameIn"
                type="hidden"
                class="input"
              />
              <input name="teamId" id="teamId" type="hidden" class="input" />

              <label for="installationNum">No of installation*</label>
              <input
                name="installationNum"
                id="installationNum"
                type="number"
                class="input"
                placeholder="Enter no. of installation"
                required
              />

              <label for="rate">Rate*</label>
              <input
                name="rate"
                id="rate"
                type="number"
                class="input"
                placeholder="Enter Rate"
                required
              />

               <label for="rate">Date*</label>
              <input
                name="dateI"
                id="dateI"
                type="date"
                class="input"
                placeholder="Enter date"
                required
              />

              <label for="brand" id="brand">Brand</label>
              <select name="brand" id="brand" class="input">
                <option value="">---brand---</option>
                <option value="Tata">TATA</option>
                <option value="Luminous">Luminous</option>
                <option value="Adani">Adani</option>
              </select>

              <label for="address">Address</label>
              <input
                name="address"
                id="address"
                type="text"
                class="input"
                placeholder="Enter Address"
              />

              <label for="">Reference</label>
              <input
                name="reference"
                id="reference"
                type="text"
                class="input"
                placeholder="Type any message..."
              />

              <div class="form-buttons">
                <button
                  type="button"
                  class="form-cancel-button"
                  id="cancelButtonAddInstallation"
                >
                  Cancel
                </button>
                <button type="submit" id="sub" class="form-submit-button">
                  Add Stock
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="/javascript/team.js"></script>
  </body>
</html>
